.top-bar {
  background-color: #fff;
  height: 70px;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 2;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  padding: 0 0 0 20px;
}

.side-bar {
  height: calc(100vh - 70px);
  position: sticky;
  top: 70px;
  right: 0;
  z-index: 11111;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  overflow-x: hidden;
  padding-top: 20px;
  transition: 0.5s all !important;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.side-bar-link {
  color: #495057;
  font-size: 18px;
  transition: 0.3s;
  margin: 0 8px;
  border-radius: 8px;
}
.side-bar .active {
  background-color: #e5ecf6;
  color: #038edc;
}
.side-bar-link:hover {
  color: #000;
}
.label {
  color: "#2E343E" !important;
  background-color: "#2E343E" !important;
  fill: "#2E343E" !important;
}
